.nav-container {
  background-color: rgb(241, 241, 46);
  color: gray;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-ul img {
  width: 100px;
  margin-right: 20px;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff5722;
}

.nav-rigth {
  display: flex;
  align-items: center;
}

.nav-right .nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-right .nav-link:hover {
  color: #ff5722;
}